In [32]:
from pathlib import Path
import pandas as pd
from datetime import timedelta
import argparse
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import types
from pyspark.sql import SQLContext
from pyspark.conf import SparkConf
from pyspark.context import SparkContext

In [2]:
credentials_location = '/Users/admin/Downloads/data-pipeline-396809-583622d42f37.json'

conf = SparkConf() \
    .setMaster('local[*]') \
    .setAppName('Monkey D.Luffy') \
    .set("spark.jars", "/Users/admin/Public/project/noaa-climate-datasets/lib/gcs-connector-hadoop3-latest.jar") \
    .set("spark.hadoop.google.cloud.auth.service.account.enable", "true") \
    .set("spark.hadoop.google.cloud.auth.service.account.json.keyfile", credentials_location)

sc = SparkContext(conf=conf)

hadoop_conf = sc._jsc.hadoopConfiguration()

hadoop_conf.set("fs.AbstractFileSystem.gs.impl",  "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")
hadoop_conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
hadoop_conf.set("fs.gs.auth.service.account.json.keyfile", credentials_location)
hadoop_conf.set("fs.gs.auth.service.account.enable", "true")

23/08/27 14:42:07 WARN Utils: Your hostname, ThienLes-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.4 instead (on interface en0)
23/08/27 14:42:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
23/08/27 14:42:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
spark = SparkSession.builder \
    .appName('Monkey D.Luffy') \
    .getOrCreate()

In [73]:
df_vm = spark.read.parquet("gs://noaa_ghcn_data_lake_data-pipeline-396809/data/pq/climate/2022/countryCode=VM/*")\
    .withColumn('date', F.to_date('DateStr', "yyyyMMdd"))

In [57]:
df_station = spark.read.parquet("gs://noaa_ghcn_data_lake_data-pipeline-396809/data/pq/station/stations.parquet")

In [52]:
sqlContext = SQLContext(spark.sparkContext)
sqlContext.sql("set spark.sql.caseSensitive=true")

DataFrame[key: string, value: string]

In [58]:
df_vm = df_vm.withColumn('date', F.to_date('DateStr', "yyyyMMdd"))

In [76]:
df_vm = df_vm \
    .join(df_station, df_vm.StationId == df_station.stationId) \
    .drop('stationId')

In [74]:
df_vm.take(5)

[Row(StationId='VM000048900', DateStr='20220330', Element='TAVG', Value=289.0, M-Flag='H', Q-Flag=None, S-Flag='S', Obs-Time=None, date=datetime.date(2022, 3, 30)),
 Row(StationId='VM000048900', DateStr='20220513', Element='TAVG', Value=299.0, M-Flag='H', Q-Flag=None, S-Flag='S', Obs-Time=None, date=datetime.date(2022, 5, 13)),
 Row(StationId='VMM00048806', DateStr='20220330', Element='TMAX', Value=265.0, M-Flag=None, Q-Flag=None, S-Flag='S', Obs-Time=None, date=datetime.date(2022, 3, 30)),
 Row(StationId='VMM00048806', DateStr='20220513', Element='TMAX', Value=318.0, M-Flag=None, Q-Flag=None, S-Flag='S', Obs-Time=None, date=datetime.date(2022, 5, 13)),
 Row(StationId='VMM00048806', DateStr='20220330', Element='TMIN', Value=180.0, M-Flag=None, Q-Flag=None, S-Flag='S', Obs-Time=None, date=datetime.date(2022, 3, 30))]

In [77]:
df_vm.createOrReplaceTempView("VM")

In [78]:
countryCode = "VM"
df = spark.sql(f"""
select 
    StationId, 
    Element, 
    year(date) AS Year, 
    name as City,
    AVG(Value)/10 as average_tmp,
    MAX(Value)/10 as max_tmp,
    Min(Value)/10 as min_tmp
from 
    {countryCode}
where 
    Element = 'TAVG'
group by 
    1, 2, 3, 4
""")

In [79]:
df.take(100)

[Row(StationId='VMM00048887', Element='TAVG', Year=2022, City='PHAN THIET', average_tmp=27.628169014084506, max_tmp=30.3, min_tmp=24.2),
 Row(StationId='VMM00048826', Element='TAVG', Year=2022, City='PHU LIEN', average_tmp=23.69774647887324, max_tmp=31.5, min_tmp=7.4),
 Row(StationId='VMM00048825', Element='TAVG', Year=2022, City='HA DONG', average_tmp=24.5087323943662, max_tmp=34.1, min_tmp=8.9),
 Row(StationId='VMM00048840', Element='TAVG', Year=2022, City='THANH HOA', average_tmp=24.434084507042254, max_tmp=33.8, min_tmp=9.0),
 Row(StationId='VMW00041010', Element='TAVG', Year=2022, City='NHA TRANG', average_tmp=27.31605633802817, max_tmp=31.2, min_tmp=23.3),
 Row(StationId='VMM00048845', Element='TAVG', Year=2022, City='VINH', average_tmp=24.8487323943662, max_tmp=34.6, min_tmp=10.1),
 Row(StationId='VM000048900', Element='TAVG', Year=2022, City='TAN SON HOA', average_tmp=28.247945205479454, max_tmp=31.7, min_tmp=24.9),
 Row(StationId='VMM00048917', Element='TAVG', Year=2022, City='PHU QUOC', average_tmp=27.38876712328767, max_tmp=30.4, min_tmp=23.2),
 Row(StationId='VMM00048820', Element='TAVG', Year=2022, City='NOIBAI INTL', average_tmp=24.284931506849315, max_tmp=34.1, min_tmp=9.1),
 Row(StationId='VMM00048914', Element='TAVG', Year=2022, City='CA MAU', average_tmp=27.93633802816901, max_tmp=30.9, min_tmp=24.3),
 Row(StationId='VMM00048848', Element='TAVG', Year=2022, City='DONG HOI', average_tmp=25.14, max_tmp=33.9, min_tmp=12.5),
 Row(StationId='VMW00041011', Element='TAVG', Year=2022, City='QUI NHON', average_tmp=27.357464788732393, max_tmp=31.8, min_tmp=20.6),
 Row(StationId='VMM00048830', Element='TAVG', Year=2022, City='LANG SON', average_tmp=21.896338028169016, max_tmp=30.4, min_tmp=5.9),
 Row(StationId='VMM00048855', Element='TAVG', Year=2022, City='DANANG INTL', average_tmp=26.445205479452056, max_tmp=32.8, min_tmp=17.2),
 Row(StationId='VMM00048806', Element='TAVG', Year=2022, City='SON LA', average_tmp=21.77887323943662, max_tmp=28.8, min_tmp=7.4),
 Row(StationId='VMM00048808', Element='TAVG', Year=2022, City='CAO BANG', average_tmp=22.2343661971831, max_tmp=32.1, min_tmp=7.7)]

In [26]:
df_all = spark.read.parquet("gs://noaa_ghcn_data_lake_swift-arcadia-387709/data/pq/climate/2022/*")

In [27]:
df_all = df_all.withColumn('countryCode', F.substring("StationId", 0, 2))

In [28]:
df_all.createOrReplaceTempView("noaa_all")

In [31]:
count_data = spark.sql("""
select Element, countryCode, count(*) from noaa_all as num_records
group by Element, countryCode
order by 3 desc
""")

In [33]:
count_data.take(100)

[Row(Element='PRCP', countryCode='US', count(1)=7789214),
 Row(Element='SNOW', countryCode='US', count(1)=5199590),
 Row(Element='TMAX', countryCode='US', count(1)=2656927),
 Row(Element='TMIN', countryCode='US', count(1)=2653396),
 Row(Element='SNWD', countryCode='US', count(1)=2461821),
 Row(Element='TOBS', countryCode='US', count(1)=1616423),
 Row(Element='PRCP', countryCode='AS', count(1)=1391158),
 Row(Element='TAVG', countryCode='US', count(1)=833241),
 Row(Element='WESD', countryCode='US', count(1)=528067),
 Row(Element='PRCP', countryCode='CA', count(1)=484711),
 Row(Element='AWND', countryCode='US', count(1)=418447),
 Row(Element='WSF2', countryCode='US', count(1)=394645),
 Row(Element='WDF2', countryCode='US', count(1)=394547),
 Row(Element='WSF5', countryCode='US', count(1)=382282),
 Row(Element='WDF5', countryCode='US', count(1)=381795),
 Row(Element='TMAX', countryCode='CA', count(1)=335544),
 Row(Element='TMIN', countryCode='CA', count(1)=335122),
 Row(Element='WESF', countryCode='US', count(1)=324702),
 Row(Element='TAVG', countryCode='CA', count(1)=316696),
 Row(Element='SNOW', countryCode='CA', count(1)=228231),
 Row(Element='TMAX', countryCode='AS', count(1)=209385),
 Row(Element='TMIN', countryCode='AS', count(1)=207849),
 Row(Element='PRCP', countryCode='SW', count(1)=200793),
 Row(Element='PRCP', countryCode='GM', count(1)=198369),
 Row(Element='TAVG', countryCode='RS', count(1)=189201),
 Row(Element='SNWD', countryCode='CA', count(1)=186813),
 Row(Element='PRCP', countryCode='RS', count(1)=169105),
 Row(Element='RHMX', countryCode='US', count(1)=165168),
 Row(Element='RHMN', countryCode='US', count(1)=165168),
 Row(Element='RHAV', countryCode='US', count(1)=164996),
 Row(Element='ADPT', countryCode='US', count(1)=164387),
 Row(Element='AWBT', countryCode='US', count(1)=164387),
 Row(Element='ASTP', countryCode='US', count(1)=164298),
 Row(Element='ASLP', countryCode='US', count(1)=164298),
 Row(Element='TMIN', countryCode='GM', count(1)=164156),
 Row(Element='TMAX', countryCode='GM', count(1)=164156),
 Row(Element='TMAX', countryCode='RS', count(1)=150818),
 Row(Element='WT01', countryCode='US', count(1)=147532),
 Row(Element='WSFG', countryCode='CA', count(1)=140638),
 Row(Element='SNWD', countryCode='GM', count(1)=140260),
 Row(Element='WDFG', countryCode='CA', count(1)=139452),
 Row(Element='SNWD', countryCode='SW', count(1)=135031),
 Row(Element='PRCP', countryCode='NL', count(1)=124788),
 Row(Element='TMIN', countryCode='RS', count(1)=124325),
 Row(Element='SNWD', countryCode='NL', count(1)=112786),
 Row(Element='DAPR', countryCode='US', count(1)=99109),
 Row(Element='MDPR', countryCode='US', count(1)=98043),
 Row(Element='PGTM', countryCode='US', count(1)=90274),
 Row(Element='PRCP', countryCode='NO', count(1)=86909),
 Row(Element='SNWD', countryCode='RS', count(1)=86507),
 Row(Element='TMAX', countryCode='SW', count(1)=82285),
 Row(Element='TMIN', countryCode='SW', count(1)=82167),
 Row(Element='TAVG', countryCode='CH', count(1)=76540),
 Row(Element='PRCP', countryCode='CH', count(1)=74534),
 Row(Element='TMAX', countryCode='CH', count(1)=72242),
 Row(Element='TMIN', countryCode='CH', count(1)=71798),
 Row(Element='SNWD', countryCode='NO', count(1)=66333),
 Row(Element='PRCP', countryCode='SP', count(1)=64454),
 Row(Element='PRCP', countryCode='FI', count(1)=63368),
 Row(Element='TMAX', countryCode='FI', count(1)=63284),
 Row(Element='TMIN', countryCode='FI', count(1)=63071),
 Row(Element='TMAX', countryCode='SP', count(1)=62577),
 Row(Element='TMIN', countryCode='SP', count(1)=62294),
 Row(Element='WT03', countryCode='US', count(1)=59551),
 Row(Element='TAVG', countryCode='JA', count(1)=54174),
 Row(Element='TAVG', countryCode='IN', count(1)=48828),
 Row(Element='SN32', countryCode='US', count(1)=47468),
 Row(Element='SX32', countryCode='US', count(1)=47181),
 Row(Element='PRCP', countryCode='JA', count(1)=46735),
 Row(Element='TMIN', countryCode='NO', count(1)=45241),
 Row(Element='TMAX', countryCode='NO', count(1)=45236),
 Row(Element='WT08', countryCode='US', count(1)=44052),
 Row(Element='EVAP', countryCode='US', count(1)=42834),
 Row(Element='TMIN', countryCode='IN', count(1)=41974),
 Row(Element='TMAX', countryCode='JA', count(1)=37838),
 Row(Element='TAVG', countryCode='KZ', count(1)=36995),
 Row(Element='TAVG', countryCode='ID', count(1)=36639),
 Row(Element='TMAX', countryCode='IN', count(1)=34725),
 Row(Element='WDMV', countryCode='US', count(1)=33968),
 Row(Element='TMAX', countryCode='KZ', count(1)=33721),
 Row(Element='TMAX', countryCode='ID', count(1)=33450),
 Row(Element='PRCP', countryCode='UK', count(1)=32054),
 Row(Element='TMAX', countryCode='UK', count(1)=31647),
 Row(Element='WESF', countryCode='CA', count(1)=31422),
 Row(Element='TMIN', countryCode='UK', count(1)=30920),
 Row(Element='TAVG', countryCode='AS', count(1)=30913),
 Row(Element='TMIN', countryCode='JA', count(1)=28354),
 Row(Element='TAVG', countryCode='SP', count(1)=28327),
 Row(Element='TAVG', countryCode='AR', count(1)=27478),
 Row(Element='TAVG', countryCode='FR', count(1)=26190),
 Row(Element='TMIN', countryCode='ID', count(1)=25969),
 Row(Element='PRCP', countryCode='FR', count(1)=25763),
 Row(Element='TMIN', countryCode='KZ', count(1)=24093),
 Row(Element='TMIN', countryCode='AR', count(1)=23957),
 Row(Element='MNPN', countryCode='US', count(1)=22053),
 Row(Element='MXPN', countryCode='US', count(1)=21931),
 Row(Element='TMAX', countryCode='FR', count(1)=20816),
 Row(Element='WT02', countryCode='US', count(1)=20442),
 Row(Element='TAVG', countryCode='MX', count(1)=20415),
 Row(Element='PRCP', countryCode='RQ', count(1)=20130)]