In [1]:
from pathlib import Path
import pandas as pd
from datetime import timedelta
import argparse
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import types
from pyspark.conf import SparkConf
from pyspark.context import SparkContext

In [2]:
credentials_location = '/Users/admin/Downloads/swift-arcadia-387709-b04513fcbebe.json'

conf = SparkConf() \
    .setMaster('local[*]') \
    .setAppName('Monkey D.Luffy') \
    .set("spark.jars", "/Users/admin/Public/project/noaa-climate-datasets/lib/gcs-connector-hadoop3-latest.jar") \
    .set("spark.hadoop.google.cloud.auth.service.account.enable", "true") \
    .set("spark.hadoop.google.cloud.auth.service.account.json.keyfile", credentials_location)

sc = SparkContext(conf=conf)

hadoop_conf = sc._jsc.hadoopConfiguration()

hadoop_conf.set("fs.AbstractFileSystem.gs.impl",  "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")
hadoop_conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
hadoop_conf.set("fs.gs.auth.service.account.json.keyfile", credentials_location)
hadoop_conf.set("fs.gs.auth.service.account.enable", "true")

23/08/16 11:29:23 WARN Utils: Your hostname, ThienLes-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 172.16.20.61 instead (on interface en0)
23/08/16 11:29:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
23/08/16 11:29:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
spark = SparkSession.builder \
    .appName('Monkey D.Luffy') \
    .getOrCreate()

In [34]:
df_VE = spark.read.parquet("gs://noaa_ghcn_data_lake_swift-arcadia-387709/data/pq/climate/2022/countryCode=VE/*")

In [43]:
df_VE = df_VE.withColumn('date', F.to_date('DateStr', "yyyyMMdd"))

In [44]:
df_VE.take(5)

[Row(StationId='VE000002417', DateStr='20220101', Element='TAVG', Value=227.0, M-Flag='H', Q-Flag=None, S-Flag='S', Obs-Time=None, date=datetime.date(2022, 1, 1)),
 Row(StationId='VE000002417', DateStr='20220515', Element='TAVG', Value=264.0, M-Flag='H', Q-Flag=None, S-Flag='S', Obs-Time=None, date=datetime.date(2022, 5, 15)),
 Row(StationId='VE000005484', DateStr='20220101', Element='TMIN', Value=234.0, M-Flag=None, Q-Flag=None, S-Flag='S', Obs-Time=None, date=datetime.date(2022, 1, 1)),
 Row(StationId='VE000005484', DateStr='20220515', Element='TMIN', Value=248.0, M-Flag=None, Q-Flag=None, S-Flag='S', Obs-Time=None, date=datetime.date(2022, 5, 15)),
 Row(StationId='VE000005484', DateStr='20220101', Element='PRCP', Value=0.0, M-Flag=None, Q-Flag=None, S-Flag='S', Obs-Time=None, date=datetime.date(2022, 1, 1))]

In [21]:
df_VE.createOrReplaceTempView("VE")

In [22]:
df = spark.sql("""
select Element, count(*) from VE
group by Element
""")

In [25]:
df.take(20)

[Row(Element='TMIN', count(1)=228),
 Row(Element='TMAX', count(1)=15),
 Row(Element='TAVG', count(1)=3868),
 Row(Element='PRCP', count(1)=241)]

In [26]:
df_all = spark.read.parquet("gs://noaa_ghcn_data_lake_swift-arcadia-387709/data/pq/climate/2022/*")

In [27]:
df_all = df_all.withColumn('countryCode', F.substring("StationId", 0, 2))

In [28]:
df_all.createOrReplaceTempView("noaa_all")

In [31]:
count_data = spark.sql("""
select Element, countryCode, count(*) from noaa_all as num_records
group by Element, countryCode
order by 3 desc
""")

In [33]:
count_data.take(100)

[Row(Element='PRCP', countryCode='US', count(1)=7789214),
 Row(Element='SNOW', countryCode='US', count(1)=5199590),
 Row(Element='TMAX', countryCode='US', count(1)=2656927),
 Row(Element='TMIN', countryCode='US', count(1)=2653396),
 Row(Element='SNWD', countryCode='US', count(1)=2461821),
 Row(Element='TOBS', countryCode='US', count(1)=1616423),
 Row(Element='PRCP', countryCode='AS', count(1)=1391158),
 Row(Element='TAVG', countryCode='US', count(1)=833241),
 Row(Element='WESD', countryCode='US', count(1)=528067),
 Row(Element='PRCP', countryCode='CA', count(1)=484711),
 Row(Element='AWND', countryCode='US', count(1)=418447),
 Row(Element='WSF2', countryCode='US', count(1)=394645),
 Row(Element='WDF2', countryCode='US', count(1)=394547),
 Row(Element='WSF5', countryCode='US', count(1)=382282),
 Row(Element='WDF5', countryCode='US', count(1)=381795),
 Row(Element='TMAX', countryCode='CA', count(1)=335544),
 Row(Element='TMIN', countryCode='CA', count(1)=335122),
 Row(Element='WESF', countryCode='US', count(1)=324702),
 Row(Element='TAVG', countryCode='CA', count(1)=316696),
 Row(Element='SNOW', countryCode='CA', count(1)=228231),
 Row(Element='TMAX', countryCode='AS', count(1)=209385),
 Row(Element='TMIN', countryCode='AS', count(1)=207849),
 Row(Element='PRCP', countryCode='SW', count(1)=200793),
 Row(Element='PRCP', countryCode='GM', count(1)=198369),
 Row(Element='TAVG', countryCode='RS', count(1)=189201),
 Row(Element='SNWD', countryCode='CA', count(1)=186813),
 Row(Element='PRCP', countryCode='RS', count(1)=169105),
 Row(Element='RHMX', countryCode='US', count(1)=165168),
 Row(Element='RHMN', countryCode='US', count(1)=165168),
 Row(Element='RHAV', countryCode='US', count(1)=164996),
 Row(Element='ADPT', countryCode='US', count(1)=164387),
 Row(Element='AWBT', countryCode='US', count(1)=164387),
 Row(Element='ASTP', countryCode='US', count(1)=164298),
 Row(Element='ASLP', countryCode='US', count(1)=164298),
 Row(Element='TMIN', countryCode='GM', count(1)=164156),
 Row(Element='TMAX', countryCode='GM', count(1)=164156),
 Row(Element='TMAX', countryCode='RS', count(1)=150818),
 Row(Element='WT01', countryCode='US', count(1)=147532),
 Row(Element='WSFG', countryCode='CA', count(1)=140638),
 Row(Element='SNWD', countryCode='GM', count(1)=140260),
 Row(Element='WDFG', countryCode='CA', count(1)=139452),
 Row(Element='SNWD', countryCode='SW', count(1)=135031),
 Row(Element='PRCP', countryCode='NL', count(1)=124788),
 Row(Element='TMIN', countryCode='RS', count(1)=124325),
 Row(Element='SNWD', countryCode='NL', count(1)=112786),
 Row(Element='DAPR', countryCode='US', count(1)=99109),
 Row(Element='MDPR', countryCode='US', count(1)=98043),
 Row(Element='PGTM', countryCode='US', count(1)=90274),
 Row(Element='PRCP', countryCode='NO', count(1)=86909),
 Row(Element='SNWD', countryCode='RS', count(1)=86507),
 Row(Element='TMAX', countryCode='SW', count(1)=82285),
 Row(Element='TMIN', countryCode='SW', count(1)=82167),
 Row(Element='TAVG', countryCode='CH', count(1)=76540),
 Row(Element='PRCP', countryCode='CH', count(1)=74534),
 Row(Element='TMAX', countryCode='CH', count(1)=72242),
 Row(Element='TMIN', countryCode='CH', count(1)=71798),
 Row(Element='SNWD', countryCode='NO', count(1)=66333),
 Row(Element='PRCP', countryCode='SP', count(1)=64454),
 Row(Element='PRCP', countryCode='FI', count(1)=63368),
 Row(Element='TMAX', countryCode='FI', count(1)=63284),
 Row(Element='TMIN', countryCode='FI', count(1)=63071),
 Row(Element='TMAX', countryCode='SP', count(1)=62577),
 Row(Element='TMIN', countryCode='SP', count(1)=62294),
 Row(Element='WT03', countryCode='US', count(1)=59551),
 Row(Element='TAVG', countryCode='JA', count(1)=54174),
 Row(Element='TAVG', countryCode='IN', count(1)=48828),
 Row(Element='SN32', countryCode='US', count(1)=47468),
 Row(Element='SX32', countryCode='US', count(1)=47181),
 Row(Element='PRCP', countryCode='JA', count(1)=46735),
 Row(Element='TMIN', countryCode='NO', count(1)=45241),
 Row(Element='TMAX', countryCode='NO', count(1)=45236),
 Row(Element='WT08', countryCode='US', count(1)=44052),
 Row(Element='EVAP', countryCode='US', count(1)=42834),
 Row(Element='TMIN', countryCode='IN', count(1)=41974),
 Row(Element='TMAX', countryCode='JA', count(1)=37838),
 Row(Element='TAVG', countryCode='KZ', count(1)=36995),
 Row(Element='TAVG', countryCode='ID', count(1)=36639),
 Row(Element='TMAX', countryCode='IN', count(1)=34725),
 Row(Element='WDMV', countryCode='US', count(1)=33968),
 Row(Element='TMAX', countryCode='KZ', count(1)=33721),
 Row(Element='TMAX', countryCode='ID', count(1)=33450),
 Row(Element='PRCP', countryCode='UK', count(1)=32054),
 Row(Element='TMAX', countryCode='UK', count(1)=31647),
 Row(Element='WESF', countryCode='CA', count(1)=31422),
 Row(Element='TMIN', countryCode='UK', count(1)=30920),
 Row(Element='TAVG', countryCode='AS', count(1)=30913),
 Row(Element='TMIN', countryCode='JA', count(1)=28354),
 Row(Element='TAVG', countryCode='SP', count(1)=28327),
 Row(Element='TAVG', countryCode='AR', count(1)=27478),
 Row(Element='TAVG', countryCode='FR', count(1)=26190),
 Row(Element='TMIN', countryCode='ID', count(1)=25969),
 Row(Element='PRCP', countryCode='FR', count(1)=25763),
 Row(Element='TMIN', countryCode='KZ', count(1)=24093),
 Row(Element='TMIN', countryCode='AR', count(1)=23957),
 Row(Element='MNPN', countryCode='US', count(1)=22053),
 Row(Element='MXPN', countryCode='US', count(1)=21931),
 Row(Element='TMAX', countryCode='FR', count(1)=20816),
 Row(Element='WT02', countryCode='US', count(1)=20442),
 Row(Element='TAVG', countryCode='MX', count(1)=20415),
 Row(Element='PRCP', countryCode='RQ', count(1)=20130)]